temp.py
data_cleaned
temp2.py
README2.md
.~lock.test.docx#
__pycache__/
data_cleaned2
orig
test.docx
out.pdf
buglist.md
out1.pdf
src/decorator.py
.vscode
env/
.gitignore
parser.ui
HandwritingParser_temp.py
Untitled\ 1.docx
Untitled\ 1.pdf
Out.pdf
target
src/build/settings/secret.json
src/sign