astroid==2.3.3
isort==4.3.21
joblib==0.14.1
lazy-object-proxy==1.4.3
llvmlite==0.31.0
lxml==4.5.0
mccabe==0.6.1
numpy==1.18.1
opencv-python==4.2.0.32
Pillow==7.0.0
pylint==2.4.4
PyQt5==5.14.1
PyQt5-sip==12.7.1
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2019.3
six==1.14.0
wrapt==1.11.2
